
.iconWrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  opacity: 0.8;
  background-color: var(--color-dark-500);
  border-radius: 2px;
}

.iconContainer {
  position: absolute;
  bottom: 15px;

  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.zoomContainer {
  position: absolute;
  top: -60px;
  left: 0;

  min-width: 125px;
  padding: 12px;

  background-color: var(--color-dark-500);
}

.cropContainer {
  position: absolute;
  top: -130px;
  left: 0;

  min-width: 156px;
  padding: 10px;

  opacity: 0.8;
  background-color: var(--color-dark-500);
  border-radius: 2px;

}

.galleryContainer {
  position: absolute;
  top: -110px;
  left: 0;

  display: flex;
  gap: 12px;
  align-items: flex-start;
  justify-content: space-between;

  min-width: 152px;
  padding: 12px;

  opacity: 0.8;
  background-color: var(--color-dark-500);
  border-radius: 2px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  display: flex;
  justify-content: space-between;
}

.list li:active {
  color: red;
}

.photoWrapper {
  display: flex;
  gap: 10px;
  width: 80px;
  height: 80px;


}

.photoInGallery {
  object-fit: contain;
}