.dialogContent {
  max-width: 972px;
}

.backIconBtn {
  color: var(--color-light-100);
}

.publishBtn {
  font-weight: 600;
}

.dialogBody {
  display: flex;
  padding: 0;
}

.imagesSlider {
  flex: 0 0 50%;
}

.form {
  flex: 0 0 50%;
}

.formTopWrapper {
  padding: 24px;
}

.profile {
  margin-bottom: 24px;
}
