@use '@styles/vars' as vars;

.body {
  min-width: 360px;
}

.rootLayout {
  padding-top: vars.$header-height;
}

.container {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: vars.$container-max-width;
  margin: 0 auto;
  padding-inline: vars.$container-padding-x;
}
