.button {
  margin: 24px 0 0 64px;
}


.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  margin: 23px;
}

.description {
  max-width: 950px;
  text-align: center;
}
