.dialogBody {
  padding-top: 30px;
}

.dialogDescription {
  margin-bottom: 30px;
}

.account {
  font-weight: var(--font-weight-bold);
}

.logoutButton {
  padding: 0;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
}
