.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 972px;

  //  height: 564px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.body .carousel {
  width: 490px;
  height: 564px;
}
