.modal {
  position: fixed;
  z-index: 50;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: color-mix(in srgb, var(--color-dark-900), transparent 60%);
}

.modalContent {
  max-width: 438px;
  background-color: var(--color-dark-300);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 24px;

  border-bottom: 1px solid var(--color-dark-100);
}

.modalTitle {
  margin: 0;
}

.modalCloseButton {
  width: 24px;
  height: 24px;
}

.modalBody {
  padding: 30px 24px 36px;
}

.modalDescription {
  margin: 0 0 30px;
}

.modalActions {
  display: flex;
  column-gap: 24px;
  justify-content: flex-end;
}

.modalButton {
  max-width: 96px;
}
