.title {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.oAuthButtons {
  display: flex;
  gap: 60px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 18px;
}
